<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit campground</title>
</head>
<body>
    <h1>Edit Campground</h1>
    <form action="/campgrounds/<%= campground._id%>?_method=PATCH" method="POST">
        <label for="title">campground Name</label>
        <input type="text" name="title" id="title" value="<%= campground.title %>" placeholder="campground title"><br>
        <label for="location">campground location</label>
        <input type="text" name="location" id="location" value="<%= campground.location %>" placeholder="location"><br>
        <button>Submit</button>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Cancel</a>
     
</body>
</html>